* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Suez One", serif;
}

:root {
  background-color: gray;
}

h1 {
  font-size: 45px;
  margin-bottom: 40px;
}

h2 {
  font-size: 40px;
  margin-bottom: 40px;
}

.container {
  width: 100vw;
  height: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 80rem;
  margin: 0 auto;
  padding: 2rem;
}
