* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Suez One", serif;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-center {
  justify-content: center;
  align-items: center;
}

.text-center {
  text-align: center;
}

:root {
  background-color: rgb(77, 77, 77);
}

h1 {
  font-size: 60px;
  margin-bottom: 10px;
  color: whitesmoke;
}

h2 {
  font-size: 40px;
  margin-bottom: 40px;
}

.container {
  width: 100vw;
  height: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 80rem;
  margin: 0 auto;
  padding: 2rem;
}

.hidden {
  display: none;
}

.btn {
  font-size: 25px;
  padding: 15px 0;
  width: 30rem;
  text-align: center;
  margin-bottom: 10px;
  text-decoration: none;
  color: black;
  background: linear-gradient(
    90deg,
    rgb(238, 218, 131) 0%,
    rgb(238, 218, 131) 100%
  );
  border-radius: 20px;
}

#highscore-btn {
  background: linear-gradient(
    90deg,
    rgb(139, 219, 174) 0%,
    rgb(139, 219, 174) 100%
  );
}

.btn:hover {
  cursor: pointer;
  transition: tansform 150ms;
  transform: scale(1.05);
  box-shadow: 0 2px 2px 0 rgb(238, 218, 131);
}

#highscore-btn:hover {
  cursor: pointer;
  transition: tansform 150ms;
  transform: scale(1.05);
  box-shadow: 0 2px 2px 0 rgb(139, 219, 174);
}

.note {
  text-align: center;
  color: rgb(255, 255, 255);
  background-color: black;
  border-radius: 20px;
  padding: 20px 10px;
  margin: 10px;
  word-spacing: 3px;
  text-transform: uppercase;
}

@media screen and (max-width: 768px) {
  .choice-container {
    min-width: 40rem;
  }
}
